# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.db
*.sqlite

# Node
node_modules/
.env
.env.local
.env.*.local
*.log

# Next.js
.next/
out/
dist/

# IDE
.vscode/
.idea/
.DS_Store

# Environment files
**/.env
**/.env.local
